// remote.jade ~ Copyright 2016 Paul Beaudet ~ MIT License
extends ./header.jade

block content
    span#auth.hidden #{auth}
    #topnav.navbar.navbar-inverse.navbar-static-top
        .container
            .navbar-header
                button.navbar-toggle.text-info(type= "button", data-toggle= "collapse", data-target= ".navbar-collapse")
                    span.glyphicon.glyphicon-menu-hamburger
                a.navbar-brand#brand(href='/') telezumo
            .navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a#active do the things
    .container#allViews
        ul
            li.view.tele
                .jumbotron
                    video#localVid(width='150', height='50', autoplay)
                    video#remoteVid(width='150', height='50', autoplay)
                #top.row.text-center
                    button#fwdLeft.up.btn.btn-lg.btn-success.pull-left <@
                    button#up.btn.btn-lg.btn-success ^
                    button#fwdRight.btn.btn-lg.btn-success.pull-right @>
                #middle.row.text-center
                    button#left.btn.btn-lg.btn-success.pull-left <-
                    button#stop.btn.btn-lg.btn-success X
                    button#right.btn.btn-lg.btn-success.pull-right ->
                #bottom.row.text-center
                    button#rvsLeft.up.btn.btn-lg.btn-success.pull-left <@
                    button#down.btn.btn-lg.btn-success V
                    button#rvsRight.btn.btn-lg.btn-success.pull-right @>
                #bottom.row.text-center
                    span Speed ->
                    button#speed1.speed.btn.btn-lg.btn-info 1
                    button#speed2.speed.btn.btn-lg.btn-info 2
                    button#speed3.speed.btn.btn-lg.btn-info 3
                    button#speed4.speed.btn.btn-lg.btn-info 4
                include textInput.jade
            li.view.login
                #signup.jumbotron
                    h1 What's your bot cred?
                    form(method='post')
                        input(type='hidden', name="_csrf", value=csrfToken)
                        .form-group
                            label(for='usr') NAME
                            input.form-control(type='text' maxlength='15', name='name', required='true')
                        .form-group
                            label(for='signupPassword', required='true')  Password
                            input.form-control(type='password', name='password')
                        if err
                            p No I'm sorry no bot control for you error= #{err}
                        input#submit.btn.btn-lg.btn-success(type='submit', value='Control the bot!')
    // Javescript dependencies
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/socket.io-client/socket.io.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='remote.js')
