// textInput.jade Copyright 2016 Paul Beaudet
.navbar.navbar-inverse.navbar-fixed-bottom(role='navigation')
    .navbar-text
        .form-group
            .col-xs-12.input-group.input-group-lg
                input#textEntry.form-control(type='text')
                span#sendButton.input-group-btn
                    button.btn.btn-info.btn-lg.pull-right(type='button')
                        span#sendText
                        span.glyphicon.glyphicon-menu-hamburger
